.container{
    padding: 20px;
}
.centered{
    /*text-align: -webkit-center;*/
    margin: auto;
    width: 50%;
    padding: 40px;
}
.img-saved{
    /*width: auto;
    height: 100px;*/
    height: calc(100% - 70%);
    object-fit: cover;
}

@font-face{
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-SemiBold.otf");
}

body.page-0{
    margin: 0 !important;
    padding: 0 !important;
}

.prim-color{
    color: #b5d54d !important;
}
.bg-prim-color{
    background-color: #b5d54d;
}
.sec-color{
    color: #595d65;
}

.btn-outline-info {
    color: #b5d54d;
    border-color: #b5d54d;
}

.text-border{
    text-shadow: -1px 0 #acacac, 0 1px #a0a1a2, 1px 0 #a8a8a8, 0 -1px #b2b2b2;
}
.text-muted {
    font-weight: 300;
}    

.page-section {
    padding: 6rem 0;
}
.title{
    font-size: xxx-large !important;
}

/*.navbar-laravel{
    background-color: #979797;
}*/

.no-shadow{
    box-shadow: none !important;
}

header.top {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/compsas2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


@media (min-width: 800px){
    header.top {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }
}

